@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bur Dubai, 3<sup>rd</sup> Floor <br />
    Al Rostamani Building <br />
    Khalid Bin Waleed Road <br />
    P.O. Box 5620 (Atkins) <br />
    <abbr title="Phone">T:</abbr>
    +971 4405 9300
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>